@font-face {
    font-family: "Lato";
    src: url("assets/LatoRegular.eot");
    src: url("assets/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("assets/LatoRegular.woff") format("woff"),
    url("assets/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }
    
    @font-face {
    font-family: "Lato";
    src: url("assets/LatoBold.eot");
    src: url("assets/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("assets/LatoBold.woff") format("woff"),
    url("assets/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    }
    
    @font-face {
    font-family: "Lato";
    src: url("assets/LatoItalic.eot");
    src: url("assets/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("assets/LatoItalic.woff") format("woff"),
    url("assets/LatoItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
    }
    
    @font-face {
    font-family: "Lato";
    src: url("assets/LatoLight.eot");
    src: url("assets/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("assets/LatoLight.woff") format("woff"),
    url("assets/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    }
    
    @font-face {
    font-family: "Lato";
    src: url("assets/LatoBoldItalic.eot");
    src: url("assets/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("assets/LatoBoldItalic.woff") format("woff"),
    url("assets/LatoBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
    }
    
    @font-face {
    font-family: "Lato";
    src: url("assets/Italic/LatoLightItalic.eot");
    src: url("assets/Italic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("assets/Italic/LatoLightItalic.woff") format("woff"),
    url("assets/Italic/LatoLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: lighter;
    }
    body{
        font-family: Lato;
        max-width: 1020px;
        margin: 0 auto;
    
    }
    .logo{
        font-size: 23.5px;
        padding-left: 41px;
        padding-top: 31.9px;
        font-weight: bolder;
        cursor: default;
        }

    .singolo
    {
        color: white;
        
    
    
    }

     .star{color: #eb6a63;}

     header{
         background-color:#2d303a;
        
         height: 95px;
    }
    .option li{
        color: #3f4354;
        float: left;
        margin-left: 30px;
        font-size: 11.9px;

    }
    .option{
        margin-top: -31px;
        cursor: pointer;
    }
    li span{
        color: white;
        
    }
    .option .home{
        color:  #f06c64;
        display: inline;
        padding-left: 540px;
        font-size: 11.9px;
        cursor: pointer; 
        
        
    }
    .line1{
        color:#323746;
        background-color: #323746;
        padding-top: -6px;
        border: none;
        margin-top: 65px;
        height: 4px;
        }
    .Slider
    {
    background-color: #f06c64;
    width: 1020px;
    height: 599px;
 
    }

    .iphone1{
    position: relative;
    left: 114px;
    top: 52px;
    box-shadow: 19px 20px 3px 4px #ce5d56
    }
     .vert
    {
        position: relative;
    right: 648px;
    top: -9px;
    }
    .iphone2
    {
    position: relative;
     transform: rotate(90deg);
    right: -328px;
    top: 55px;
    box-shadow: 20px -17px 3px 4px #ce5d56
    }
    .gor{
     position: relative;
    left: 47px;
    top: -80px;
    }
            
    .chev1 {
     position: relative;
    transform: rotate(180deg);
    right: 946px;
    top: -152px;
            }
    .chev2{
    position: relative;
    left: -1px;
    top: -152px;
        }
    a {
    cursor: pointer;
    }

    .line2{
    color: #ea676b;
    background-color: #ea676b;
    padding-top: -6px;
    border: none;
    margin-top: 133px;
    height: 4px;
    }
    
     .big-blok1 {
         
        display: flex;
        margin-left: 25px;
        list-style: none;

     }
     .big-blok2 {
         
        display: flex;
        margin-left: 25px;
        list-style: none;

     }
     .our-services{
         position: relative;
         font-weight: bold;
         font-size: 30px;
         left: 39px;
         top: 62px;
         color: #666d89

    }


    .commodo{
    position: relative;
    top: 61px;
    left: 38px;
    font-size: 17.9px;
    line-height: 1.6;
    width: 980px;
   
    
}

    .custom-design{
        font-weight: bold;
        font-size: 18.6px;
        color: #666d89;
        position: relative;
        top: 88px;
        left: 53px;
}
    .blok1{position: relative;
        font-size: 13.2px;
    top: 83px;
    left: 52px;
    width: 259px;
    line-height: 1.5;}
    .inovative-ideas{position: relative;
        font-weight: bold;
        font-size: 18.6px;
        color: #666d89;
        top: 90px;
    left: 114px;}
    .blok2{ position: relative;
        font-size: 13.2px;
        top: 84px;
    left: 114px;
    width: 240px;
    line-height: 1.5;
    }
    .love-is-the-answer{ position: relative;
        font-weight: bold;
        font-size: 18.6px;
        color: #666d89;
        top: 89px;
    left: 196px;}
    .blok3{ position: relative;
        font-size: 13.2px;
        top: 87px;
        left: 194px;
    width: 237px;
    line-height: 1.5;}
    .responsive-layout{ position: relative;
        font-weight: bold;
        font-size: 18.6px;
        color: #666d89;
        top: 85px;
    left: 55px;}
    .blok4{ position: relative;
        font-size: 13.2px;
        top: 83px;
    left: 55px;
    width: 238px;
    line-height: 1.5;}
    .support{ position: relative;
        font-weight: bold;
        font-size: 18.6px;
        color: #666d89;
        top: 88px;
    left: 138px;}
    .blok5{ position: relative;
        font-size: 13.2px;
        top: 82px;
    left: 136px;
    width: 245px;
    line-height: 1.5;}
    .feel{ position: relative;
        font-weight: bold;
        font-size: 18.6px;
        color: #666d89;
        top: 86px;
    left: 213px;}
    .blok6{ position: relative;
        font-size: 13.2px;
        top: 83px;
    left: 209px;
    width: 237px;
    line-height: 1.5;}

        
    .pen{ 
        position: relative;
        top: -160px;
    left: 42px;}
    .bung{
        position: relative;
        top: -161px;
    left: 297px;
    }
    .heart{
        position: relative;
        top: -161px;
    left: 553px;}
    .buble{
        position: relative;
        top: -35px;
        left: 171px;}
    .phone{
        position: relative;
        top: -36px;
    left: -212px;
            }
            .star1{
                position: relative;
                top: -34px;
    left: 364px;}
        
        


    
    .services{
        background-color: #f2f2f2;
        height: 489px; }
       
        
    .line3{
    border: none;
    height: 4px;
    position: relative;
    margin-top: 51px;
    position: relative;
    right: 0px;
    width: 1021px;
    background-color: #fafafa
            }
  



